phpinfo()
PHP Version => 7.2.26

System => Windows NT LAPTOP-C0FD887B 10.0 build 18362 (Windows 10) AMD64
Build Date => Dec 17 2019 15:24:08
Compiler => MSVC15 (Visual C++ 2017)
Architecture => x64
Configure Command => cscript /nologo configure.js  "--enable-snapshot-build" "--enable-debug-pack" "--with-pdo-oci=c:\php-snap-build\deps_aux\oracle\x64\instantclient_12_1\sdk,shared" "--with-oci8-12c=c:\php-snap-build\deps_aux\oracle\x64\instantclient_12_1\sdk,shared" "--enable-object-out-dir=../obj/" "--enable-com-dotnet=shared" "--without-analyzer" "--with-pgo"
Server API => Command Line Interface
Virtual Directory Support => enabled
Configuration File (php.ini) Path => C:\WINDOWS
Loaded Configuration File => (none)
Scan this dir for additional .ini files => (none)
Additional .ini files parsed => (none)
PHP API => 20170718
PHP Extension => 20170718
Zend Extension => 320170718
Zend Extension Build => API320170718,TS,VC15
PHP Extension Build => API20170718,TS,VC15
Debug Build => no
Thread Safety => enabled
Zend Signal Handling => disabled
Zend Memory Manager => enabled
Zend Multibyte Support => disabled
IPv6 Support => enabled
DTrace Support => disabled

Registered PHP Streams => php, file, glob, data, http, ftp, zip, compress.zlib, phar
Registered Stream Socket Transports => tcp, udp
Registered Stream Filters => convert.iconv.*, string.rot13, string.toupper, string.tolower, string.strip_tags, convert.*, consumed, dechunk, zlib.*

This program makes use of the Zend Scripting Language Engine:
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies


 _______________________________________________________________________


Configuration

bcmath

BCMath support => enabled

Directive => Local Value => Master Value
bcmath.scale => 0 => 0

calendar

Calendar support => enabled

Core

PHP Version => 7.2.26

Directive => Local Value => Master Value
allow_url_fopen => On => On
allow_url_include => Off => Off
arg_separator.input => & => &
arg_separator.output => & => &
auto_append_file => no value => no value
auto_globals_jit => On => On
auto_prepend_file => no value => no value
browscap => no value => no value
default_charset => UTF-8 => UTF-8
default_mimetype => text/html => text/html
disable_classes => no value => no value
disable_functions => no value => no value
display_errors => STDOUT => STDOUT
display_startup_errors => Off => Off
doc_root => no value => no value
docref_ext => no value => no value
docref_root => no value => no value
enable_dl => On => On
enable_post_data_reading => On => On
error_append_string => no value => no value
error_log => no value => no value
error_prepend_string => no value => no value
error_reporting => no value => no value
expose_php => On => On
extension_dir => C:\php\ext => C:\php\ext
file_uploads => On => On
hard_timeout => 2 => 2
highlight.comment => <font style="color: #FF8000">#FF8000</font> => <font style="color: #FF8000">#FF8000</font>
highlight.default => <font style="color: #0000BB">#0000BB</font> => <font style="color: #0000BB">#0000BB</font>
highlight.html => <font style="color: #000000">#000000</font> => <font style="color: #000000">#000000</font>
highlight.keyword => <font style="color: #007700">#007700</font> => <font style="color: #007700">#007700</font>
highlight.string => <font style="color: #DD0000">#DD0000</font> => <font style="color: #DD0000">#DD0000</font>
html_errors => Off => Off
ignore_repeated_errors => Off => Off
ignore_repeated_source => Off => Off
ignore_user_abort => Off => Off
implicit_flush => On => On
include_path => .;C:\php\pear => .;C:\php\pear
input_encoding => no value => no value
internal_encoding => no value => no value
log_errors => Off => Off
log_errors_max_len => 1024 => 1024
mail.add_x_header => Off => Off
mail.force_extra_parameters => no value => no value
mail.log => no value => no value
max_execution_time => 0 => 0
max_file_uploads => 20 => 20
max_input_nesting_level => 64 => 64
max_input_time => -1 => -1
max_input_vars => 1000 => 1000
memory_limit => 128M => 128M
open_basedir => no value => no value
output_buffering => 0 => 0
output_encoding => no value => no value
output_handler => no value => no value
post_max_size => 8M => 8M
precision => 14 => 14
realpath_cache_size => 4096K => 4096K
realpath_cache_ttl => 120 => 120
register_argc_argv => On => On
report_memleaks => On => On
report_zend_debug => Off => Off
request_order => no value => no value
sendmail_from => no value => no value
sendmail_path => no value => no value
serialize_precision => -1 => -1
short_open_tag => On => On
SMTP => localhost => localhost
smtp_port => 25 => 25
sys_temp_dir => no value => no value
track_errors => Off => Off
unserialize_callback_func => no value => no value
upload_max_filesize => 2M => 2M
upload_tmp_dir => no value => no value
user_dir => no value => no value
user_ini.cache_ttl => 300 => 300
user_ini.filename => .user.ini => .user.ini
variables_order => EGPCS => EGPCS
windows.show_crt_warning => Off => Off
xmlrpc_error_number => 0 => 0
xmlrpc_errors => Off => Off
zend.assertions => 1 => 1
zend.detect_unicode => On => On
zend.enable_gc => On => On
zend.multibyte => Off => Off
zend.script_encoding => no value => no value

ctype

ctype functions => enabled

date

date/time support => enabled
timelib version => 2017.09
"Olson" Timezone Database Version => 2018.9
Timezone Database => internal
Default timezone => UTC

Directive => Local Value => Master Value
date.default_latitude => 31.7667 => 31.7667
date.default_longitude => 35.2333 => 35.2333
date.sunrise_zenith => 90.583333 => 90.583333
date.sunset_zenith => 90.583333 => 90.583333
date.timezone => no value => no value

dom

DOM/XML => enabled
DOM/XML API Version => 20031129
libxml Version => 2.9.10
HTML Support => enabled
XPath Support => enabled
XPointer Support => enabled
Schema Support => enabled
RelaxNG Support => enabled

filter

Input Validation and Filtering => enabled
Revision => $Id: 5a34caaa246b9df197f4b43af8ac66a07464fe4b $

Directive => Local Value => Master Value
filter.default => unsafe_raw => unsafe_raw
filter.default_flags => no value => no value

hash

hash support => enabled
Hashing Engines => md2 md4 md5 sha1 sha224 sha256 sha384 sha512/224 sha512/256 sha512 sha3-224 sha3-256 sha3-384 sha3-512 ripemd128 ripemd160 ripemd256 ripemd320 whirlpool tiger128,3 tiger160,3 tiger192,3 tiger128,4 tiger160,4 tiger192,4 snefru snefru256 gost gost-crypto adler32 crc32 crc32b fnv132 fnv1a32 fnv164 fnv1a64 joaat haval128,3 haval160,3 haval192,3 haval224,3 haval256,3 haval128,4 haval160,4 haval192,4 haval224,4 haval256,4 haval128,5 haval160,5 haval192,5 haval224,5 haval256,5 

MHASH support => Enabled
MHASH API Version => Emulated Support

iconv

iconv support => enabled
iconv implementation => "libiconv"
iconv library version => 1.15

Directive => Local Value => Master Value
iconv.input_encoding => no value => no value
iconv.internal_encoding => no value => no value
iconv.output_encoding => no value => no value

json

json support => enabled
json version => 1.6.0

libxml

libXML support => active
libXML Compiled Version => 2.9.10
libXML Loaded Version => 20910
libXML streams => enabled

mysqlnd

mysqlnd => enabled
Version => mysqlnd 5.0.12-dev - 20150407 - $Id: 3591daad22de08524295e1bd073aceeff11e6579 $
Compression => supported
core SSL => supported
extended SSL => not supported
Command buffer size => 4096
Read buffer size => 32768
Read timeout => 86400
Collecting statistics => Yes
Collecting memory statistics => No
Tracing => n/a
Loaded plugins => mysqlnd,debug_trace,auth_plugin_mysql_native_password,auth_plugin_mysql_clear_password
API Extensions =>  

mysqlnd statistics =>  
bytes_sent => 0
bytes_received => 0
packets_sent => 0
packets_received => 0
protocol_overhead_in => 0
protocol_overhead_out => 0
bytes_received_ok_packet => 0
bytes_received_eof_packet => 0
bytes_received_rset_header_packet => 0
bytes_received_rset_field_meta_packet => 0
bytes_received_rset_row_packet => 0
bytes_received_prepare_response_packet => 0
bytes_received_change_user_packet => 0
packets_sent_command => 0
packets_received_ok => 0
packets_received_eof => 0
packets_received_rset_header => 0
packets_received_rset_field_meta => 0
packets_received_rset_row => 0
packets_received_prepare_response => 0
packets_received_change_user => 0
result_set_queries => 0
non_result_set_queries => 0
no_index_used => 0
bad_index_used => 0
slow_queries => 0
buffered_sets => 0
unbuffered_sets => 0
ps_buffered_sets => 0
ps_unbuffered_sets => 0
flushed_normal_sets => 0
flushed_ps_sets => 0
ps_prepared_never_executed => 0
ps_prepared_once_executed => 0
rows_fetched_from_server_normal => 0
rows_fetched_from_server_ps => 0
rows_buffered_from_client_normal => 0
rows_buffered_from_client_ps => 0
rows_fetched_from_client_normal_buffered => 0
rows_fetched_from_client_normal_unbuffered => 0
rows_fetched_from_client_ps_buffered => 0
rows_fetched_from_client_ps_unbuffered => 0
rows_fetched_from_client_ps_cursor => 0
rows_affected_normal => 0
rows_affected_ps => 0
rows_skipped_normal => 0
rows_skipped_ps => 0
copy_on_write_saved => 0
copy_on_write_performed => 0
command_buffer_too_small => 0
connect_success => 0
connect_failure => 0
connection_reused => 0
reconnect => 0
pconnect_success => 0
active_connections => 0
active_persistent_connections => 0
explicit_close => 0
implicit_close => 0
disconnect_close => 0
in_middle_of_command_close => 0
explicit_free_result => 0
implicit_free_result => 0
explicit_stmt_close => 0
implicit_stmt_close => 0
mem_emalloc_count => 0
mem_emalloc_amount => 0
mem_ecalloc_count => 0
mem_ecalloc_amount => 0
mem_erealloc_count => 0
mem_erealloc_amount => 0
mem_efree_count => 0
mem_efree_amount => 0
mem_malloc_count => 0
mem_malloc_amount => 0
mem_calloc_count => 0
mem_calloc_amount => 0
mem_realloc_count => 0
mem_realloc_amount => 0
mem_free_count => 0
mem_free_amount => 0
mem_estrndup_count => 0
mem_strndup_count => 0
mem_estrdup_count => 0
mem_strdup_count => 0
mem_edupl_count => 0
mem_dupl_count => 0
proto_text_fetched_null => 0
proto_text_fetched_bit => 0
proto_text_fetched_tinyint => 0
proto_text_fetched_short => 0
proto_text_fetched_int24 => 0
proto_text_fetched_int => 0
proto_text_fetched_bigint => 0
proto_text_fetched_decimal => 0
proto_text_fetched_float => 0
proto_text_fetched_double => 0
proto_text_fetched_date => 0
proto_text_fetched_year => 0
proto_text_fetched_time => 0
proto_text_fetched_datetime => 0
proto_text_fetched_timestamp => 0
proto_text_fetched_string => 0
proto_text_fetched_blob => 0
proto_text_fetched_enum => 0
proto_text_fetched_set => 0
proto_text_fetched_geometry => 0
proto_text_fetched_other => 0
proto_binary_fetched_null => 0
proto_binary_fetched_bit => 0
proto_binary_fetched_tinyint => 0
proto_binary_fetched_short => 0
proto_binary_fetched_int24 => 0
proto_binary_fetched_int => 0
proto_binary_fetched_bigint => 0
proto_binary_fetched_decimal => 0
proto_binary_fetched_float => 0
proto_binary_fetched_double => 0
proto_binary_fetched_date => 0
proto_binary_fetched_year => 0
proto_binary_fetched_time => 0
proto_binary_fetched_datetime => 0
proto_binary_fetched_timestamp => 0
proto_binary_fetched_string => 0
proto_binary_fetched_json => 0
proto_binary_fetched_blob => 0
proto_binary_fetched_enum => 0
proto_binary_fetched_set => 0
proto_binary_fetched_geometry => 0
proto_binary_fetched_other => 0
init_command_executed_count => 0
init_command_failed_count => 0
com_quit => 0
com_init_db => 0
com_query => 0
com_field_list => 0
com_create_db => 0
com_drop_db => 0
com_refresh => 0
com_shutdown => 0
com_statistics => 0
com_process_info => 0
com_connect => 0
com_process_kill => 0
com_debug => 0
com_ping => 0
com_time => 0
com_delayed_insert => 0
com_change_user => 0
com_binlog_dump => 0
com_table_dump => 0
com_connect_out => 0
com_register_slave => 0
com_stmt_prepare => 0
com_stmt_execute => 0
com_stmt_send_long_data => 0
com_stmt_close => 0
com_stmt_reset => 0
com_stmt_set_option => 0
com_stmt_fetch => 0
com_deamon => 0
bytes_received_real_data_normal => 0
bytes_received_real_data_ps => 0

pcre

PCRE (Perl Compatible Regular Expressions) Support => enabled
PCRE Library Version => 8.41 2017-07-05
PCRE JIT Support => enabled

Directive => Local Value => Master Value
pcre.backtrack_limit => 1000000 => 1000000
pcre.jit => 1 => 1
pcre.recursion_limit => 100000 => 100000

PDO

PDO support => enabled
PDO drivers =>  

Phar

Phar: PHP Archive support => enabled
Phar EXT version => 2.0.2
Phar API version => 1.1.1
SVN revision => $Id: ba76a9b0e06d536a9b602c782e38e6826cb4ee02 $
Phar-based phar archives => enabled
Tar-based phar archives => enabled
ZIP-based phar archives => enabled
gzip compression => enabled
bzip2 compression => disabled (install pecl/bz2)
OpenSSL support => disabled (install ext/openssl)


Phar based on pear/PHP_Archive, original concept by Davey Shafik.
Phar fully realized by Gregory Beaver and Marcus Boerger.
Portions of tar implementation Copyright (c) 2003-2009 Tim Kientzle.
Directive => Local Value => Master Value
phar.cache_list => no value => no value
phar.readonly => On => On
phar.require_hash => On => On

readline

Readline Support => enabled
Readline library => WinEditLine

Directive => Local Value => Master Value
cli.pager => no value => no value
cli.prompt => \b \>  => \b \> 

Reflection

Reflection => enabled
Version => $Id: fe5f2178c6eb97631d3f8f03ceb9eddb88e664c7 $

session

Session Support => enabled
Registered save handlers => files user 
Registered serializer handlers => php_serialize php php_binary wddx 

Directive => Local Value => Master Value
session.auto_start => Off => Off
session.cache_expire => 180 => 180
session.cache_limiter => nocache => nocache
session.cookie_domain => no value => no value
session.cookie_httponly => 0 => 0
session.cookie_lifetime => 0 => 0
session.cookie_path => / => /
session.cookie_secure => 0 => 0
session.gc_divisor => 100 => 100
session.gc_maxlifetime => 1440 => 1440
session.gc_probability => 1 => 1
session.lazy_write => On => On
session.name => PHPSESSID => PHPSESSID
session.referer_check => no value => no value
session.save_handler => files => files
session.save_path => no value => no value
session.serialize_handler => php => php
session.sid_bits_per_character => 4 => 4
session.sid_length => 32 => 32
session.upload_progress.cleanup => On => On
session.upload_progress.enabled => On => On
session.upload_progress.freq => 1% => 1%
session.upload_progress.min_freq => 1 => 1
session.upload_progress.name => PHP_SESSION_UPLOAD_PROGRESS => PHP_SESSION_UPLOAD_PROGRESS
session.upload_progress.prefix => upload_progress_ => upload_progress_
session.use_cookies => 1 => 1
session.use_only_cookies => 1 => 1
session.use_strict_mode => 0 => 0
session.use_trans_sid => 0 => 0

SimpleXML

Simplexml support => enabled
Revision => $Id: 341daed0ee94ea8f728bfd0ba4626e6ed365c0d1 $
Schema support => enabled

SPL

SPL support => enabled
Interfaces => OuterIterator, RecursiveIterator, SeekableIterator, SplObserver, SplSubject
Classes => AppendIterator, ArrayIterator, ArrayObject, BadFunctionCallException, BadMethodCallException, CachingIterator, CallbackFilterIterator, DirectoryIterator, DomainException, EmptyIterator, FilesystemIterator, FilterIterator, GlobIterator, InfiniteIterator, InvalidArgumentException, IteratorIterator, LengthException, LimitIterator, LogicException, MultipleIterator, NoRewindIterator, OutOfBoundsException, OutOfRangeException, OverflowException, ParentIterator, RangeException, RecursiveArrayIterator, RecursiveCachingIterator, RecursiveCallbackFilterIterator, RecursiveDirectoryIterator, RecursiveFilterIterator, RecursiveIteratorIterator, RecursiveRegexIterator, RecursiveTreeIterator, RegexIterator, RuntimeException, SplDoublyLinkedList, SplFileInfo, SplFileObject, SplFixedArray, SplHeap, SplMinHeap, SplMaxHeap, SplObjectStorage, SplPriorityQueue, SplQueue, SplStack, SplTempFileObject, UnderflowException, UnexpectedValueException

standard

Dynamic Library Support => enabled
Internal Sendmail Support for Windows => enabled

Directive => Local Value => Master Value
assert.active => 1 => 1
assert.bail => 0 => 0
assert.callback => no value => no value
assert.exception => 0 => 0
assert.quiet_eval => 0 => 0
assert.warning => 1 => 1
auto_detect_line_endings => 0 => 0
default_socket_timeout => 60 => 60
from => no value => no value
session.trans_sid_hosts => no value => no value
session.trans_sid_tags => a=href,area=href,frame=src,form= => a=href,area=href,frame=src,form=
url_rewriter.hosts => no value => no value
url_rewriter.tags => form= => form=
user_agent => no value => no value

tokenizer

Tokenizer Support => enabled

wddx

WDDX Support => enabled
WDDX Session Serializer => enabled

xml

XML Support => active
XML Namespace Support => active
libxml2 Version => 2.9.10

xmlreader

XMLReader => enabled

xmlwriter

XMLWriter => enabled

zip

Zip => enabled
Zip version => 1.15.4
Libzip version => 1.4.0

zlib

ZLib Support => enabled
Stream Wrapper => compress.zlib://
Stream Filter => zlib.inflate, zlib.deflate
Compiled Version => 1.2.11
Linked Version => 1.2.11

Directive => Local Value => Master Value
zlib.output_compression => Off => Off
zlib.output_compression_level => -1 => -1
zlib.output_handler => no value => no value

Additional Modules

Module Name

Environment

Variable => Value
aliases => C:\Windows\cmder\config\user-aliases.cmd
ALLUSERSPROFILE => C:\ProgramData
ANSICON => 83x1000 (83x40)
ANSICON_DEF => 7
APPDATA => C:\Users\Pepe\AppData\Roaming
architecture => 64
CMDER_ROOT => C:\Windows\cmder
CommonProgramFiles => C:\Program Files\Common Files
CommonProgramFiles(x86) => C:\Program Files (x86)\Common Files
CommonProgramW6432 => C:\Program Files\Common Files
COMPUTERNAME => LAPTOP-C0FD887B
ComSpec => C:\WINDOWS\system32\cmd.exe
ConEmuANSI => ON
ConEmuAnsiLog =>  
ConEmuArgs => /Icon "C:\Windows\cmder\icons\cmder.ico" /Title Cmder
ConEmuArgs2 =>  
ConEmuBackHWND => 0x0016053A
ConEmuBaseDir => C:\Windows\cmder\vendor\conemu-maximus5\ConEmu
ConEmuBuild => 161206
ConEmuConfig =>  
ConEmuDir => C:\Windows\cmder\vendor\conemu-maximus5
ConEmuDrawHWND => 0x001405A8
ConEmuDrive => C:
ConEmuHooks => Enabled
ConEmuHWND => 0x000F043E
ConEmuIsAdmin => ADMIN
ConEmuPalette => <xterm>
ConEmuPID => 7172
ConEmuServerPID => 10060
ConEmuTask => {cmd::Cmder}
ConEmuWorkDir => C:\Users\Pepe
ConEmuWorkDrive => C:
DriverData => C:\Windows\System32\Drivers\DriverData
GIT_INSTALL_ROOT => C:\Program Files\Git
HOME => C:\Users\Pepe
HOMEDRIVE => C:
HOMEPATH => \Users\Pepe
LOCALAPPDATA => C:\Users\Pepe\AppData\Local
LOGONSERVER => \\LAPTOP-C0FD887B
NUMBER_OF_PROCESSORS => 2
OneDrive => C:\Users\Pepe\OneDrive
OnlineServices => Online Services
OS => Windows_NT
Path => C:\Windows\cmder\bin;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu\Scripts;C:\Windows\cmder\vendor\conemu-maximus5;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\xampp\php;C:\ProgramData\ComposerSetup\bin;C:\Program Files\Git\cmd;C:\WINDOWS\System32\OpenSSH\;C:\Program Files\Microsoft VS Code\bin;C:\PostgreSQL\pg11\bin;C:\Program Files (x86)\Brackets\command;C:\HashiCorp\Vagrant\bin;C:\Program Files\nodejs\;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\Composer\vendor\bin;C:\Users\Pepe\AppData\Local\Programs\Fiddler;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\npm;C:\Program Files\Git\usr\bin;C:\Program Files\Git\usr\share\vim\vim74;C:\Windows\cmder\
PATHEXT => .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
platformcode => KV
PLINK_PROTOCOL => ssh
PROCESSOR_ARCHITECTURE => AMD64
PROCESSOR_IDENTIFIER => AMD64 Family 21 Model 112 Stepping 0, AuthenticAMD
PROCESSOR_LEVEL => 21
PROCESSOR_REVISION => 7000
ProgramData => C:\ProgramData
ProgramFiles => C:\Program Files
ProgramFiles(x86) => C:\Program Files (x86)
ProgramW6432 => C:\Program Files
PROMPT => CLINK $P$G
PSModulePath => C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules
PUBLIC => C:\Users\Public
RegionCode => LA
SVN_SSH => C:\\Program Files\\Git\\bin\\ssh.exe
SystemDrive => C:
SystemRoot => C:\WINDOWS
TEMP => C:\Users\Pepe\AppData\Local\Temp
TERM => cygwin
TMP => C:\Users\Pepe\AppData\Local\Temp
user-aliases => C:\Windows\cmder\config\user-aliases.cmd
USERDOMAIN => LAPTOP-C0FD887B
USERDOMAIN_ROAMINGPROFILE => LAPTOP-C0FD887B
USERNAME => Pepe
USERPROFILE => C:\Users\Pepe
VBOX_MSI_INSTALL_PATH => C:\Program Files\Oracle\VirtualBox\
verbose-output => 0 
windir => C:\WINDOWS
__COMPAT_LAYER => Installer

PHP Variables

Variable => Value
$_SERVER['aliases'] => C:\Windows\cmder\config\user-aliases.cmd
$_SERVER['ALLUSERSPROFILE'] => C:\ProgramData
$_SERVER['ANSICON'] => 83x1000 (83x40)
$_SERVER['ANSICON_DEF'] => 7
$_SERVER['APPDATA'] => C:\Users\Pepe\AppData\Roaming
$_SERVER['architecture'] => 64
$_SERVER['CMDER_ROOT'] => C:\Windows\cmder
$_SERVER['CommonProgramFiles'] => C:\Program Files\Common Files
$_SERVER['CommonProgramFiles(x86)'] => C:\Program Files (x86)\Common Files
$_SERVER['CommonProgramW6432'] => C:\Program Files\Common Files
$_SERVER['COMPUTERNAME'] => LAPTOP-C0FD887B
$_SERVER['ComSpec'] => C:\WINDOWS\system32\cmd.exe
$_SERVER['ConEmuANSI'] => ON
$_SERVER['ConEmuAnsiLog'] => 
$_SERVER['ConEmuArgs'] => /Icon "C:\Windows\cmder\icons\cmder.ico" /Title Cmder
$_SERVER['ConEmuArgs2'] => 
$_SERVER['ConEmuBackHWND'] => 0x0016053A
$_SERVER['ConEmuBaseDir'] => C:\Windows\cmder\vendor\conemu-maximus5\ConEmu
$_SERVER['ConEmuBuild'] => 161206
$_SERVER['ConEmuConfig'] => 
$_SERVER['ConEmuDir'] => C:\Windows\cmder\vendor\conemu-maximus5
$_SERVER['ConEmuDrawHWND'] => 0x001405A8
$_SERVER['ConEmuDrive'] => C:
$_SERVER['ConEmuHooks'] => Enabled
$_SERVER['ConEmuHWND'] => 0x000F043E
$_SERVER['ConEmuIsAdmin'] => ADMIN
$_SERVER['ConEmuPalette'] => <xterm>
$_SERVER['ConEmuPID'] => 7172
$_SERVER['ConEmuServerPID'] => 10060
$_SERVER['ConEmuTask'] => {cmd::Cmder}
$_SERVER['ConEmuWorkDir'] => C:\Users\Pepe
$_SERVER['ConEmuWorkDrive'] => C:
$_SERVER['DriverData'] => C:\Windows\System32\Drivers\DriverData
$_SERVER['GIT_INSTALL_ROOT'] => C:\Program Files\Git
$_SERVER['HOME'] => C:\Users\Pepe
$_SERVER['HOMEDRIVE'] => C:
$_SERVER['HOMEPATH'] => \Users\Pepe
$_SERVER['LOCALAPPDATA'] => C:\Users\Pepe\AppData\Local
$_SERVER['LOGONSERVER'] => \\LAPTOP-C0FD887B
$_SERVER['NUMBER_OF_PROCESSORS'] => 2
$_SERVER['OneDrive'] => C:\Users\Pepe\OneDrive
$_SERVER['OnlineServices'] => Online Services
$_SERVER['OS'] => Windows_NT
$_SERVER['Path'] => C:\Windows\cmder\bin;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu\Scripts;C:\Windows\cmder\vendor\conemu-maximus5;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\xampp\php;C:\ProgramData\ComposerSetup\bin;C:\Program Files\Git\cmd;C:\WINDOWS\System32\OpenSSH\;C:\Program Files\Microsoft VS Code\bin;C:\PostgreSQL\pg11\bin;C:\Program Files (x86)\Brackets\command;C:\HashiCorp\Vagrant\bin;C:\Program Files\nodejs\;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\Composer\vendor\bin;C:\Users\Pepe\AppData\Local\Programs\Fiddler;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\npm;C:\Program Files\Git\usr\bin;C:\Program Files\Git\usr\share\vim\vim74;C:\Windows\cmder\
$_SERVER['PATHEXT'] => .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
$_SERVER['platformcode'] => KV
$_SERVER['PLINK_PROTOCOL'] => ssh
$_SERVER['PROCESSOR_ARCHITECTURE'] => AMD64
$_SERVER['PROCESSOR_IDENTIFIER'] => AMD64 Family 21 Model 112 Stepping 0, AuthenticAMD
$_SERVER['PROCESSOR_LEVEL'] => 21
$_SERVER['PROCESSOR_REVISION'] => 7000
$_SERVER['ProgramData'] => C:\ProgramData
$_SERVER['ProgramFiles'] => C:\Program Files
$_SERVER['ProgramFiles(x86)'] => C:\Program Files (x86)
$_SERVER['ProgramW6432'] => C:\Program Files
$_SERVER['PROMPT'] => CLINK $P$G
$_SERVER['PSModulePath'] => C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules
$_SERVER['PUBLIC'] => C:\Users\Public
$_SERVER['RegionCode'] => LA
$_SERVER['SVN_SSH'] => C:\\Program Files\\Git\\bin\\ssh.exe
$_SERVER['SystemDrive'] => C:
$_SERVER['SystemRoot'] => C:\WINDOWS
$_SERVER['TEMP'] => C:\Users\Pepe\AppData\Local\Temp
$_SERVER['TERM'] => cygwin
$_SERVER['TMP'] => C:\Users\Pepe\AppData\Local\Temp
$_SERVER['user-aliases'] => C:\Windows\cmder\config\user-aliases.cmd
$_SERVER['USERDOMAIN'] => LAPTOP-C0FD887B
$_SERVER['USERDOMAIN_ROAMINGPROFILE'] => LAPTOP-C0FD887B
$_SERVER['USERNAME'] => Pepe
$_SERVER['USERPROFILE'] => C:\Users\Pepe
$_SERVER['VBOX_MSI_INSTALL_PATH'] => C:\Program Files\Oracle\VirtualBox\
$_SERVER['verbose-output'] => 0 
$_SERVER['windir'] => C:\WINDOWS
$_SERVER['__COMPAT_LAYER'] => Installer
$_SERVER['PHP_SELF'] => 
$_SERVER['SCRIPT_NAME'] => 
$_SERVER['SCRIPT_FILENAME'] => 
$_SERVER['PATH_TRANSLATED'] => 
$_SERVER['DOCUMENT_ROOT'] => 
$_SERVER['REQUEST_TIME_FLOAT'] => 1576717730.2376
$_SERVER['REQUEST_TIME'] => 1576717730
$_SERVER['argv'] => Array
(
)

$_SERVER['argc'] => 0
$_ENV['aliases'] => C:\Windows\cmder\config\user-aliases.cmd
$_ENV['ALLUSERSPROFILE'] => C:\ProgramData
$_ENV['ANSICON'] => 83x1000 (83x40)
$_ENV['ANSICON_DEF'] => 7
$_ENV['APPDATA'] => C:\Users\Pepe\AppData\Roaming
$_ENV['architecture'] => 64
$_ENV['CMDER_ROOT'] => C:\Windows\cmder
$_ENV['CommonProgramFiles'] => C:\Program Files\Common Files
$_ENV['CommonProgramFiles(x86)'] => C:\Program Files (x86)\Common Files
$_ENV['CommonProgramW6432'] => C:\Program Files\Common Files
$_ENV['COMPUTERNAME'] => LAPTOP-C0FD887B
$_ENV['ComSpec'] => C:\WINDOWS\system32\cmd.exe
$_ENV['ConEmuANSI'] => ON
$_ENV['ConEmuAnsiLog'] => 
$_ENV['ConEmuArgs'] => /Icon "C:\Windows\cmder\icons\cmder.ico" /Title Cmder
$_ENV['ConEmuArgs2'] => 
$_ENV['ConEmuBackHWND'] => 0x0016053A
$_ENV['ConEmuBaseDir'] => C:\Windows\cmder\vendor\conemu-maximus5\ConEmu
$_ENV['ConEmuBuild'] => 161206
$_ENV['ConEmuConfig'] => 
$_ENV['ConEmuDir'] => C:\Windows\cmder\vendor\conemu-maximus5
$_ENV['ConEmuDrawHWND'] => 0x001405A8
$_ENV['ConEmuDrive'] => C:
$_ENV['ConEmuHooks'] => Enabled
$_ENV['ConEmuHWND'] => 0x000F043E
$_ENV['ConEmuIsAdmin'] => ADMIN
$_ENV['ConEmuPalette'] => <xterm>
$_ENV['ConEmuPID'] => 7172
$_ENV['ConEmuServerPID'] => 10060
$_ENV['ConEmuTask'] => {cmd::Cmder}
$_ENV['ConEmuWorkDir'] => C:\Users\Pepe
$_ENV['ConEmuWorkDrive'] => C:
$_ENV['DriverData'] => C:\Windows\System32\Drivers\DriverData
$_ENV['GIT_INSTALL_ROOT'] => C:\Program Files\Git
$_ENV['HOME'] => C:\Users\Pepe
$_ENV['HOMEDRIVE'] => C:
$_ENV['HOMEPATH'] => \Users\Pepe
$_ENV['LOCALAPPDATA'] => C:\Users\Pepe\AppData\Local
$_ENV['LOGONSERVER'] => \\LAPTOP-C0FD887B
$_ENV['NUMBER_OF_PROCESSORS'] => 2
$_ENV['OneDrive'] => C:\Users\Pepe\OneDrive
$_ENV['OnlineServices'] => Online Services
$_ENV['OS'] => Windows_NT
$_ENV['Path'] => C:\Windows\cmder\bin;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu\Scripts;C:\Windows\cmder\vendor\conemu-maximus5;C:\Windows\cmder\vendor\conemu-maximus5\ConEmu;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\xampp\php;C:\ProgramData\ComposerSetup\bin;C:\Program Files\Git\cmd;C:\WINDOWS\System32\OpenSSH\;C:\Program Files\Microsoft VS Code\bin;C:\PostgreSQL\pg11\bin;C:\Program Files (x86)\Brackets\command;C:\HashiCorp\Vagrant\bin;C:\Program Files\nodejs\;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\Composer\vendor\bin;C:\Users\Pepe\AppData\Local\Programs\Fiddler;C:\Users\Pepe\AppData\Local\Microsoft\WindowsApps;C:\Users\Pepe\AppData\Roaming\npm;C:\Program Files\Git\usr\bin;C:\Program Files\Git\usr\share\vim\vim74;C:\Windows\cmder\
$_ENV['PATHEXT'] => .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
$_ENV['platformcode'] => KV
$_ENV['PLINK_PROTOCOL'] => ssh
$_ENV['PROCESSOR_ARCHITECTURE'] => AMD64
$_ENV['PROCESSOR_IDENTIFIER'] => AMD64 Family 21 Model 112 Stepping 0, AuthenticAMD
$_ENV['PROCESSOR_LEVEL'] => 21
$_ENV['PROCESSOR_REVISION'] => 7000
$_ENV['ProgramData'] => C:\ProgramData
$_ENV['ProgramFiles'] => C:\Program Files
$_ENV['ProgramFiles(x86)'] => C:\Program Files (x86)
$_ENV['ProgramW6432'] => C:\Program Files
$_ENV['PROMPT'] => CLINK $P$G
$_ENV['PSModulePath'] => C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules
$_ENV['PUBLIC'] => C:\Users\Public
$_ENV['RegionCode'] => LA
$_ENV['SVN_SSH'] => C:\\Program Files\\Git\\bin\\ssh.exe
$_ENV['SystemDrive'] => C:
$_ENV['SystemRoot'] => C:\WINDOWS
$_ENV['TEMP'] => C:\Users\Pepe\AppData\Local\Temp
$_ENV['TERM'] => cygwin
$_ENV['TMP'] => C:\Users\Pepe\AppData\Local\Temp
$_ENV['user-aliases'] => C:\Windows\cmder\config\user-aliases.cmd
$_ENV['USERDOMAIN'] => LAPTOP-C0FD887B
$_ENV['USERDOMAIN_ROAMINGPROFILE'] => LAPTOP-C0FD887B
$_ENV['USERNAME'] => Pepe
$_ENV['USERPROFILE'] => C:\Users\Pepe
$_ENV['VBOX_MSI_INSTALL_PATH'] => C:\Program Files\Oracle\VirtualBox\
$_ENV['verbose-output'] => 0 
$_ENV['windir'] => C:\WINDOWS
$_ENV['__COMPAT_LAYER'] => Installer

PHP License
This program is free software; you can redistribute it and/or modify
it under the terms of the PHP License as published by the PHP Group
and included in the distribution in the file:  LICENSE

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

If you did not receive a copy of the PHP license, or have any
questions about PHP licensing, please contact license@php.net.
